            <div th:fragment="callToAction" class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h3>A Better Education center</h3>
                        <p>
                            Thousands of teenagers across the UK will have school lessons in mindfulness in an experiment designed to see if it can protect against mental illness.
                        </p>
                    </div>
                    <div class="col-sm-4 text-right">
                        <div class="space20"></div>
                        <a href="#" class="btn btn-lg btn-border-white">Join Today <i class="fa fa-edit"></i></a>
                    </div>
                </div>
            </div>