            <div th:fragment="themepunch" class="tp-banner">
                <ul>
                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Care your family">
                        <!-- MAIN IMAGE -->
                        <img src="images/bg-1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="caption slider-title dark sft"
                             data-x="50"
                             data-y="160"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo">
                            Assan Campus <br>
                            <span class="colored-text">Learn Better</span>
                        </div>



                        <div class="caption slider-caption dark sfl"
                             data-x="50"
                             data-y="310"
                             data-speed="1000"
                             data-start="1800"
                             data-easing="easeOutExpo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <br>
                            lectus. Cras porta nisl at tincidunt tincidunt.  
                        </div>
                        <div class="caption sfb rev-buttons tp-resizeme"
                             data-x="50"
                             data-y="380"
                             data-speed="500"
                             data-start="1800"
                             data-easing="Sine.easeOut">
                            <a href="#" class="btn btn-skin btn-lg">Learn more <i class="fa fa-angle-right"></i></a>
                        </div>



                    </li>
                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Solid team">
                        <!-- MAIN IMAGE -->
                        <img src="images/bg-2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">



                        <div class="caption slider-title light sft"
                             data-x="50"
                             data-y="160"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo">
                            Create Everything<br>
                            <span class="colored-text">Easily with assan</span>
                        </div>



                        <div class="caption slider-caption light sfl"
                             data-x="50"
                             data-y="310"
                             data-speed="1000"
                             data-start="1800"
                             data-easing="easeOutExpo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <br>
                            lectus. Cras porta nisl at tincidunt tincidunt.  
                        </div>
                        <div class="caption sfb rev-buttons tp-resizeme"
                             data-x="50"
                             data-y="380"
                             data-speed="500"
                             data-start="1800"
                             data-easing="Sine.easeOut">
                            <a href="#" class="btn btn-skin btn-lg">Apply Now <i class="fa fa-edit"></i></a>
                        </div>
                    </li>
                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Quality Services">
                        <!-- MAIN IMAGE -->
                        <img src="images/bg-7.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">


                        <div class="caption slider-title dark sft"
                             data-x="50"
                             data-y="200"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo">
                            Assan <span class="colored-text">A trusted Brand</span>

                        </div>



                        <div class="caption slider-caption dark sfl"
                             data-x="50"
                             data-y="290"
                             data-speed="1000"
                             data-start="1800"
                             data-easing="easeOutExpo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <br>
                            lectus. Cras porta nisl at tincidunt tincidunt.  
                        </div>
                        <div class="caption sfb rev-buttons tp-resizeme"
                             data-x="50"
                             data-y="360"
                             data-speed="500"
                             data-start="1800"
                             data-easing="Sine.easeOut">
                            <a href="#" class="btn btn-skin btn-lg">View Services <i class="fa fa-cogs"></i></a>
                        </div>

                    </li>
                </ul>
            </div>