        <div th:fragment="toolbar" class="top-bar dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 hidden-xs">
                        <span><i class="fa fa-phone"></i> 01 185-565-658</span>
                        <span><i class="fa fa-envelope"></i> info@domain.com</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span><a href="#"><i class="fa fa-user"></i> Sing In</a></span>
                        <span><a href="apply.html" class="apply"><i class="fa fa-pencil"></i> Apply</a></span>
                    </div>
                </div>
            </div>
        </div>